.button {
  --text-weight: 600;
  --text-width: var(--text-width-s);
  --button-text: var(--color-text);
  --button-bg: var(--color-sheet);
  --button-border: var(--color-text);
  --button-icon: var(--color-text);
  --border-radius: 9999em;

  & * {
    color: inherit;
    font-variation-settings: inherit;
  }

  color: var(--button-text);
  background-color: var(--button-bg);
  border: var(--button-border) solid var(--border-weight-s);
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--space-xs);
  padding: var(--space-s) var(--space-m);
  max-height: 64px;
  font-size: inherit;
  font-family: inherit;
  text-decoration: none;
  transition: color 0.1s step-start, background-color 0.1s linear;
  line-height: 1;

  &:visited {
    color: var(--button-text);
  }

  @media (--viewport-small) {
    line-height: inherit;
  }

  @media (hover: hover) {
    &:hover {
      --button-text: var(--color-sheet);
      --button-bg: var(--color-text);

      cursor: pointer;
    }
  }

  & svg {
    width: var(--space-s);
    height: auto;
  }

  &.--fill\@s {
    @media (--viewport-small) {
      width: 100%;
    }
  }

  &.--inverted {
    --button-text: var(--color-sheet);
    --button-bg: var(--color-text);
    --button-border: var(--color-text);
  }

  &.--text-only {
    border-color: transparent;
    background-color: transparent;

    @media (hover: hover) {
      &:hover {
        --button-text: var(--color-text);
        --button-bg: var(--color-sheet);

        border-bottom-color: var(--button-border);
      }
    }
  }

  &[aria-current] {
    &:not(:hover) {
      opacity: 0.5;
    }
  }

  /** Variants */
  &.--primary {
    --button-text: hsl(var(--color-light));
    --button-bg: hsl(var(--color-primary));
    --button-border: transparent;

    @media (hover: hover) {
      &:hover {
        --button-text: hsl(var(--color-primary));
        --button-bg: hsl(var(--color-light));
        --button-border: var(--button-text);
      }
    }
  }
}
