.strip {
  display: flex;
  height: 240px;
  gap: var(--space-l);

  @media (--viewport-medium) {
    flex-direction: column;
    width: 240px;
  }

  & .poster {
    width: 240px;

    & img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

}
