.whatidid {
  & * { margin: 0; }

  & h2 {
    font-size: var(--step--1);
    --text-weight: 700;
    text-transform: uppercase;
    border: none;
    margin-bottom: var(--space-s);
    --color-text: hsl(var(--color-dark-mod-2));
  }

  & ul {
    margin-left: var(--space-2xs);

    > li {
      display: flex;
      gap: var(--space-2xs);

      &::before {
        content: url('/assets/images/icons/tick.svg');
        width: 24px;
        height: 24px;
        flex-shrink: 0;
        transform: translateY(2px);
      }
    }
  }

}
