.whatidid {
  padding: var(--space-m) var(--space-l);
  border: 1px dashed hsl(var(--color-primary));
  border-radius: var(--space-s);

  & * { margin: 0; }

  & h2 {
    font-size: var(--step-1);
    font-family: var(--text-sans);
    --text-weight: 700;
    text-transform: uppercase;
    color: hsl(var(--color-caution));
    border: none;
    margin-bottom: var(--space-s);
  }

  & li {
    list-style-image: url('/assets/images/icons/tick.svg');

    & + & {
      margin-top: var(--space-3xs);
    }
  }
}
