.work-card {
  list-style-type: none;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: var(--space-m);

  > .image {
    aspect-ratio: 1.6;
    overflow: hidden;

    > img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      border-radius: var(--border-radius-s);
      background-color: #FFFFFF;
    }
  }

  & .title {
    text-decoration: none;
    font-size: var(--step-1);
    --text-weight: 650;
    line-height: var(--text-leading-default);

    &:hover {
      color: hsl(var(--color-primary));
      text-decoration: underline;
    }
  }

  & .description {
    margin-block: 5px 0;
    font-size: var(--step-0);
    color: hsl(var(--color-dark-mod-2));

    :hover + & {
      color: hsl(var(--color-dark));
    }
  }
}
