---
layout: page
---

<section class="content grid__item --start-1 --span-4 space --bottom-pad-xl">
  <span class="eyebrow">{{ tags[0] }}</span>
  <h1 class="title">{{ title }}</h1>
  <p class="subtitle">{{ subtitle }}</p>

  {{ content }}

  <a href="{{ cta.url }}" class="cta button --primary">
    <span>{{ cta.text }}</span>
    {% render "svg/link.svg" %}
  </a>

  <section class="whatidid">
    <h2>What I Did:</h2>
    <ul>
    {% for skill in skills %}
      <li>{{ skill }}</li>
    {% endfor %}
    </ul>
  </section>
</section>

<section class="media grid__item --start-5 --bleed-full">
  {% if page.reel %}
  <media-reel>
    {{ page.reel }}
  </media-reel>
  {% endif %}
</section>

{% style %}
.header {
  position: absolute;
  width: 100%;

  @media (min-width: 80em) {
    & .nav-links {
      --color-text: hsl(var(--color-light));
    }
  }
}

main {
  padding: 0;
}

.content {
  overflow-y: auto;
  scrollbar-width: none;
}

.media {
  background-color: hsl(var(--color-dark-tint-60));
  display: flex;
  align-items: center;
}

@media (max-width: 44.999em) {
  .content {
    padding-bottom: calc(40vh + var(--space-m));
  }

  .media {
    position: fixed;
    bottom: 0;
    height: 40vh;
  }
}

@media (min-width: 45em) and (max-width: 79.999em) {
  .content {
    padding-bottom: calc(40vh + var(--space-l));
    grid-column: 4 / span 8;
  }

  .media {
    position: fixed;
    bottom: 0;
    height: 40vh;
  }
}

@media (min-width: 80em) {
  .content,
  .media {
    height: 100vh;
  }
}

.eyebrow {
  font-size: var(--step--1);
  font-family: var(--text-sans);
  --text-weight: 900;
  letter-spacing: var(--space-3xs);
  text-transform: uppercase;
  color: hsl(var(--color-primary));
  margin-top: var(--space-3xl);
  display: inline-block;
}

.title {
  font-size: var(--step-4);
  --text-weight: 650;
  margin-block: var(--space-l) var(--space-s);
}

.subtitle {
  font-size: var(--step-1);
  --text-weight: 350;
  font-style: italic;
  margin-bottom: var(--space-l);
  line-height: var(--text-leading-default);
}

.cta {
  margin-block: var(--space-xl);
}

media-reel {
  --reel-height: min(50vh, 100%);
}
{% endstyle %}
