<header class="header space --top-pad-m --bottom-pad-m grid__item --span-12">
  <div class="flex --justify-between --align-items-center">
    <div class="logo">
      <a href="/">{% image "logo-placeholder.png", "" %}</a>
    </div>
    <div class="nav-links">
      <ul role="list" class="text --unlisted --sans --uppercase --step-1 flex --gap-m space --bottom-flush ">
        <li><a href="/work" class="space --left-pad-s --right-pad-s text --undecorated">Work</a></li>
        <li><a href="/info" class="space --left-pad-s --right-pad-s text --undecorated">Info</a></li>
      </ul>
    </div>
  </div>
</header>
